<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mbaappo.mbaappo">

<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/pagina_principa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inicio"
            android:label="@string/iniciar_sesion" />
        <activity
            android:name=".activity_registro_usuarios"
            android:label="@string/registrar" />
        <activity
            android:name=".CrearEditarServicio"
            android:label="@string/publicar_servicio" />
        <activity
            android:name=".Perfil"
            android:label="@string/mi_cuenta" />
        <activity
            android:name=".c_contrasenha"
            android:label="@string/m_contrasena" />
        <activity
            android:name=".Servicio"
            android:label="Servicio" />
        <activity
            android:name=".editar_datos"
            android:label="@string/e_dato" />
        <activity
            android:name=".Lista_servicios"
            android:label="Servicios" />
        <activity
            android:name=".list_historial"
            android:label="Historial" />
        <activity
            android:name=".servicios_realizados"
            android:label="Servicios Ofrecidos" />
        <activity
            android:name=".inicio_principal"
            android:label="Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mensajeria" />
        <activity android:name=".Seleccionar_foto"></activity>
    </application>

</manifest>